.custom-badge {
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
 width: 15rem;
  border-radius: 8px;
  text-align: center;
  color: white;
}
.text-gradient {
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 84px;
}
.row{
  margin-top: 10%;
}



