<div class="container-sm mt-5 ">
  <div class="row">
    <div class="col-xxl-5 mx-auto">
      <div class="text-center text-xxl-start">
        <div class="content ">
          <div class="fs-3 fw-light text-muted text-gradient mb-5">I can help your business to</div>
          <h1 class="display-3 fw-bolder mb-8"><span class="text-gradient d-inline">Get online and grow fast</span></h1>
        </div>
        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
          <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="https://mohamedazizelheni.github.io/AzizPortfolio">My portfolio</a>
          <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" routerLink="/images">Explore this test > </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 mx-auto text-center">
      <img src="assets/pic.JPG" alt="Your Photo" class="img-fluid rounded-circle max-width-100" style="max-height: 400px; max-width: 100%;" />
    </div>
  </div>
</div>
